/* General */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #222;
}

/* Header */
header {
    text-align: center;
    padding: 40px 20px;
    background-color: blanchedalmond;
    color: white;
}

header .subtitle {
    opacity: 0.8;
}